@page
@model Process_Upload_Data.Pages.LogOutModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<h1 class="text-danger">Log Out</h1>
<h2 class="text-danger" style="color:white!important;">You have successfully logged out.</h2>
<a asp-page="/Index" class="btn btn-primary" style="width:20%;">Log In Page</a>